@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family : 'Noto Sans KR', sans-serif;
    background: white;
    color: #333;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.header{
    width: 1200px;
    display: flex;
    color: #0D69AF;
    justify-content: space-between;
}
.menubar{
    font-size: 100px;
}
.contents{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 0 50px 0;
}
.topme{
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;

}
.topme >h2, .topme>a {
    font-size: 22pt;
    margin: 50px 0 50px 0;
    font-weight: bold;
    color: #0D69AF;
    text-align: center;
}
.topme > a:hover{
    color: red;
}
.experience >h2 , .experience >a{
    font-size: 22pt;
    margin: 50px 0 50px 0;
    font-weight: bold;
    color: #0D69AF;
    text-align: center;
}
.attraction > ul{
    display: flex;
    width: 1200px;
}
.attraction > ul > li{
    width: 350px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.experience > ul > li{
    width: 350px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.experience > ul{
    display: flex;
    width: 1200px;
}
.bon{
    margin: 0 auto;
}
.bonmun1{
    display: flex;
}
.bonmun2 {
    display: flex;
}
.bonmun3 {
    display: flex;
}
.tit{
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
}
.su{
    font-size: 18px;
    padding: 0 0 0 20px;
}
.video-wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.875rem;
    font-weight: bold;
}
.video-wrap > h3{
    text-align: center;
    margin-top: 100px;
    color: #0d69af;
}
iframe{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    padding: 100px;
}

/* ============================================반응형====================================================== */
@media screen and (max-width: 768px){
    
    
    /* slide */
    .topme{
        width: 50vw;
        overflow: hidden;
        display: block;
    }
    .bonmun1{
        display: block;
    }
    .bonmun2{
        display: block;
    }
    .bonmun3{
        display: block;
    }
    .attraction > ul{
        width: 100vw;
        justify-content: center;
        display: block;
    }
    .attraction > ul >li{
        margin-bottom: 20px;

    }
}