@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: white;
    color: #333;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.header{
    width: 1200px;
    display: flex;
    color: #0D69AF;
    justify-content: space-between;
}
.menubar{
    font-size: 100px;
}
.contents{
    width: 1200px;
}
.attraction >h2{
    font-size: 22pt;
    border-bottom: 1px solid #0D69AF;
    margin: 0 0 200px 0;
    font-weight: bold;
    color: #0D69AF;
    text-align: center;
}
.attraction > ul{
    display: flex;
    width: 1200px;
}
.attraction > ul > li{
    width: 350px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.tit{
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
}
.su{
    font-size: 18px;
    padding: 0 0 0 20px;
}
.bonmun{
    padding: 10px;
}